body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
}

ul {
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

input {
    position: relative;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}

.logo-ulstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.logo-ulstudio:hover {
    color: #404bbf;
}

.logo-ulstudio:focus {
    color: #404bbf;
}

.hea-address {
    font-style: normal;
}

.burger-menu {
    display: none;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 1px;
    cursor: pointer;
}

@media (max-width:320px) {
    .burger-menu {
        display: flex;
    }
}

.link-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.link-address:hover {
    color: #404bbf;
}

.link-address:focus {
    color: #404bbf;
}

.beginning {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/name.jpg);
    max-height: 600px;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width:320px) {
    .beginning {
        width: 320px;
        height: 432px;
        padding-top: 72px;
    }
}

.container-beg {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
}

.beginning-head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

@media (max-width:320px) {
    .beginning-head {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
        width: 216px;
    }
}

.beginning-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    margin: 0 auto;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.beginning-button:hover {
    background-color: #404BBF;
}

.beginning-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width:320px) {
    .description {
        padding-top: 95px;
        padding-bottom: 95px;
    }
}

.description-ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

@media (max-width:320px) {
    .description-ul {
        display: flex;
        gap: 72px;
        list-style-type: none;
        flex-direction: column;
    }
}

.description-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

@media (max-width:320px) {
    .description-li {
        display: flex;
        flex-basis: calc((100% - 3* 24px) / 4);
        flex-direction: column;
        align-items: center;
    }
}

.iconka {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

@media (min-width:1440px) {
    .iconka {
        display: flex;
    }
}

.description-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

@media (max-width:320px) {
    .description-head {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
    }
}

.description-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media (max-width:320px) {
    .description-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--slate);
    }
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0 120px;
}

.team-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
}

.team-hj {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

@media (max-width:320px) {
    .team-ul {
        display: flex;
        gap: 72px;
        list-style-type: none;
        flex-direction: column;
    }

    .container {
        max-width: 1158px;
        padding: 0 21px 0 21px;
        margin: 0 auto;
    }
}

.team-li {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-div-li {
    padding: 32px 0 32px
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-contacts {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.team-contacts-li {
    width: 40px;
    height: 40px;
}

.team-contacts-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-a:hover {
    background-color: #404bbf;
}

.team-contacts-a:focus {
    background-color: #404bbf;
}

.team-contacts-svg {
    fill: #f4f4fd;
}

.portfolio-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width:320px) {
    .portfolio-team {
        padding-top: 103px;
        padding-bottom: 153px;
    }
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style-type: none;
}

@media (max-width:320px) {
    .portfolio-ul {
        display: flex;
        column-gap: 24px;
        row-gap: 112px;
        list-style-type: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.portfolio-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
    .portfolio-li {
        width: 288px;
        height: 463px;
    }
}

.portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-li:hover .portfolio-paragraf {
    transform: translateY(0%);
}

.portfolio-img-div {
    position: relative;
    overflow: hidden;
}

.portfolio-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.portfolio-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0 100px;
}

@media (max-width:320px) {
    .footer {
        padding: 96px 16px 96px;
    }
}

.container-footer {
    display: flex;
    align-items: baseline;
}

.containerr-footer {
    margin-right: 120px;
    padding-left: 156px;
    padding-right: 120px;
}

@media (max-width:320px) {
    .container-footer {
        display: flex;
        align-items: center;
        gap: 72px;
        flex-direction: column;
    }

    .containerr-footer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logoj {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studioj {
    color: #F4F4FD;
}

.footer-title {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-top: 0;
}

@media (max-width:320px) {
    .footer-paragraf {
        display: flex;
        justify-content: center;
    }
}

.footer-ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.footer-li {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-svg {
    fill: #f4f4fd;
}

.footer-subscribe {
    padding-left: 80px;
}

@media (max-width:320px) {
    .footer-subscribe {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }
}

.footer-subscribe-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-subscribe-input::placeholder {
    color: #ffffff;
}

.footer-subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover {
    background-color: #31d0aa;
}

.footer-subscribe-button:focus {
    background-color: #31d0aa;
}

.footer-subscribe-svg {
    margin-left: 16px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 24px;
    padding-right: 24px;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    justify-content: center;
    align-items: center;
}

@media (max-width:320px) {
    .modal-window {
        width: 288px;
        height: 623px;
    }

    .modal-p {
        margin-top: 0;
        margin-bottom: 16px;
    }

    .hea-address {
        display: none;
    }
}


.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
    background-color: #404bbf;
    border: none;
}

.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-button:hover .modal-svg {
    fill: #ffffff;
}

.modal-button:focus .modal-svg {
    fill: #ffffff;
}

.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px
}

.modal-form-div {
    margin-bottom: 8px;
}

.modal-form-div input:focus svg {
    fill: #4D5AE5;
}

.modal-form-div input:focus::placeholder {
    fill: #4D5AE5;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-label-div {
    position: relative;
}

.modal-label-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input:focus {

    border-color: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-label-input:focus+.modal-input-svg {
    fill: #2E2F42;
}

@media (min-width:1440px) {
    .modal-label-input:focus+.modal-input-svg {

        fill: #4d5ae5;
    }

    .modal-label-input:focus {
        border-color: #4D5AE5;
    }

    .model-textarea:focus {
        border-color: #4D5AE5;
    }
}

.modal-input-svg {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-divvvv {
    margin-bottom: 16px;
}

.model-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form {
    justify-content: center;
    align-items: center;
}

.model-textarea:focus {
    border-color: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox {
    margin-bottom: 24px;
}

input:checked+label>span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.sikret:checked {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-label-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.visually-hidden:checked .form-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.form-checkbox-label-a {
    color: #4d5ae5;
}

.form-buttonn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 92px;
    border-radius: 4px;
}

.form-buttonn:hover {
    background-color: #3540c0;
}

.form-buttonn:focus {
    background-color: #3540c0;
}

@media (max-width:320px) {
    .form-buttonn {
        margin-left: 36px;
    }

    .form-checkbox-label {
        letter-spacing: 0.0em;
    }
}

.info {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media (max-width:320px) {
    .info {
        width: 320px;
        height: 56px;
    }
}

.info-container {
    display: flex;
}

@media (max-width:320px) {
    .info-container {
        padding-top: 12px;
    }
}


.info-container .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.nav-info {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

@media (max-width:320px) {
    .nav-info {
        margin-right: 50px;
    }
}


.menu-info {
    /* display: flex; */
    display: none;
    gap: 40px;
    list-style-type: none;
}

@media (min-width:321px) {
    .menu-info {
        display: flex;
    }
}

.menu-info-pynkt {
    padding: 24px 0 24px;
}

.address-ul {
    display: none;
    gap: 40px;
    list-style-type: none;
    width: 344px;
    height: 24px;
    margin-left: 332px;
    margin-top: 24px;
    margin-right: 162px;
    margin-bottom: 24px;
}

@media (min-width:321px) {
    .address-ul {
        display: flex;
    }
}

.menu-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.menu-overlay-container {
    width: 320px;
    height: 100%;
    background-color: #FFFFFF;
}

.modal-button-menu {
    position: relative;
    top: 24px;
    left: 270px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250mscubic-bezier(0.4, 0, 0.2, 1), border 250mscubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-menu:hover {
    background-color: #eaeaf1;
    border: none;
}

.modal-button-menu:focus {
    background-color: #eaeaf1;
    border: none;
}

.modal-button-menu:hover .modal-svg {
    fill: #ffffff;
}

.modal-button-menu:focus .modal-svg {
    fill: #ffffff;
}

.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-ulstudio-menu {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: var(--ocean);
}

.menu-info-menu {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 16px;
    list-style-type: none;
}

.address-ul-menu {
    display: flex;
    margin: 0;
    margin-top: 123px;
    margin-bottom: 48px;
    margin-left: 16px;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
}

.link-address-menu {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.team-contacts-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}

.team-contacts-a-menu {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-contacts-a-menu:hover {
    background-color: #31d0aa;
}

.team-contacts-a-menu:focus {
    background-color: #31d0aa;
}

.color {
    color: #404BBF;
}

@media (min-width:321px) {

    .logo-ulstudio {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }

    .address-ul {
        display: flex;
        gap: 12px;
        margin: 0;
        margin-top: 12px;
        flex-direction: column;
    }

    .hea-address {
        margin-top: -3px;
    }

    .link-address {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: var(--slate);
    }

    .info {
        width: 768px;
        height: 72px;
    }

    .info-container {
        padding-top: 3px;
    }

    .nav-info {
        display: flex;
        align-items: center;
        margin-right: 120px;
    }

    .logo {
        margin-right: 120px;
    }

    .beginning {
        width: 768px;
        height: 436px;
        padding-top: 112px;
    }

    .beginning-head {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .description {
        padding-top: 76px;
        padding-bottom: 150px;
    }

    .description-head {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }

    .description-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--slate);
        width: 356px;
    }

    .description-ul {
        display: flex;
        /* gap: 24px; */
        list-style-type: none;
        flex-wrap: wrap;
        flex-direction: row;
        width: 736px;
        height: 312px;
    }

    .team {
        background-color: #F4F4FD;
        padding: 60px 0 120px;
        width: 768px;
        height: 1224px;
    }

    .team-ul {
        display: flex;
        gap: 24px;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .portfolio-li {
        width: calc((100% - 48px) / 2);
    }

    .portfolio-ul {
        justify-content: center;
    }

    .footer {
        width: 768px;
        height: 456px;
    }

    .container-footer {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .containerr-footer {
        margin-right: 0;
        padding-left: 108px;
        padding-right: 24px;
    }

    .footer-subscribe {
        padding-left: 108px;
    }
}